<%- model_class = BankAccount -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:data_type) %></th>
      <th><%= model_class.human_attribute_name(:bank_cd) %></th>
      <th><%= model_class.human_attribute_name(:store_cd) %></th>
      <th><%= model_class.human_attribute_name(:account_type) %></th>
      <th><%= model_class.human_attribute_name(:account_number) %></th>
      <th><%= model_class.human_attribute_name(:account_holder) %></th>
      <th><%= model_class.human_attribute_name(:account_holder_k) %></th>
      <th><%= model_class.human_attribute_name(:transfer_method) %></th>
      <th><%= model_class.human_attribute_name(:transfer_request_date) %></th>
      <th><%= model_class.human_attribute_name(:stop_flg) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= link_to bank_account.id, bank_account_path(bank_account) %></td>
        <td><%= bank_account.data_type %></td>
        <td><%= bank_account.bank_cd %></td>
        <td><%= bank_account.store_cd %></td>
        <td><%= bank_account.account_type %></td>
        <td><%= bank_account.account_number %></td>
        <td><%= bank_account.account_holder %></td>
        <td><%= bank_account.account_holder_k %></td>
        <td><%= bank_account.transfer_method %></td>
        <td><%= bank_account.transfer_request_date %></td>
        <td><%= bank_account.stop_flg %></td>
        <td><%= bank_account.start_date %></td>
        <td><%= bank_account.end_date %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bank_account_path(bank_account), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bank_account_path(bank_account),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bank_account_path,
            :class => 'btn btn-primary' %>
